/*nav*/
@font-face {
    font-family: '8bit16';
    src:url('/ressources/font/8bit16.ttf');
}
*{
    padding: 0;
    box-sizing: border-box;
}
#headerImg{
    width: 200px;
    height: 100px;
}
header nav {
    display: inline-block;
    font-size: 0.75em;
}
header li {
    float: left;
    font-weight: bold;
}
li {
    list-style-type: none;
}
header li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}
#titre{
    margin: auto;
    text-align: center;
}

/*Page index*/
#index{
    background: url('/ressources/images/background/morning.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
table, th, td {
 border: 0px solid black;
}

#playersList{
    text-align: center;
}

#instructions{
    text-align: center;
    color:#FCCE5B;
}

td{
    width: 70px;
    height: 70px;
    text-align: center;
    background-image:url('/ressources/images/background/whitetrans.png');
}

#div1 {
  float: left;
  width: 70px;
  height: 70px;

  padding: 10px;
  border: 0px solid black;
}

#player1, #player2{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 2px dashed #bbb;
    text-align: center;
    background-color:rgb(0,0,0);
    opacity:0.2;
}

#player1[drop-active=true]
  box-shadow: inset 0px 0px 0px 2px #00C;
}

input{
    font-size:120%;
    text-align: center;
}

#player1choice{
    text-align: center;
    padding-top: 1%;
    margin-right: 5%;
}
#player2choice{
    text-align: center;
    padding-top: 1%;
    margin-left: 5%;
}

#playButton{
    text-align: center;
    margin-top: 30px;
}

#PlayerSelecter {
    display: flex;
    justify-content: center;
    color:white;
}
.btn {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  border: none;
  font-family: '8bit16', Fallback, sans-serif;
}
.btn:focus {
  outline: 0;
}

.btn:active {
  position: relative;
  top: 3px;
  box-shadow: none !important;
}
.startGame {
  display: block;
  margin: 0 auto;
  background: #FCCE5B;
  box-shadow: 0px 4px 0px #847c21;
}
/*Page game*/
#game{
    background: url('/ressources/images/background/midday.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#game{

}
#game  {
    margin: auto;
    text-align: center;
}
canvas{
    margin-top: 30px;
}
#Instructionsleft{
    position:absolute;
    left: 10%;
    top: 30%;
    color:white;
    text-align: right;

}
#Instructionsright{
    position:absolute;
    right: 5%;
    top: 30%;
    color:white;
    text-align: left;
}

/*==========================================================================================================*/
#Git{
    color: white;
}
footer{
    padding-top: 5%;
    margin: auto;
    text-align: center;
    font-family:
}
body {
  margin:0;
  font-family: '8bit16', Fallback, sans-serif;
}

h1 {
    font-size: 1.10em;
}
h2 {
    color:black;
    text-align: center;
    margin: 0;
    padding: 30px;
}
h3 {
    font-size: 1em;
}

a {
  text-decoration: none;
}


/* all sections are off by default */
body > section {
  margin:1em;
  display:none;
}

body.home > section#home,
body.help > section#help,
body.index > section#index,
body.story > section#story,
body.game > section#game{
    display:block;
    margin: 0;
}

/* nav highlightion rules */
body.home #menu a[href="#home"],
body.help #menu a[href="#help"],
body.index #menu a[href="#index"],
body.story #menu a[href="#story"]{
    background-color: #555;
}


/*header*/
body> header {
  background-color: #04102A;
  color: #f2f2f2;
  box-shadow: 0px 5px 8px #ccc;
  top:0;
  width: 100%;
}


header h2{
  display: inline-block;
}

#navigation {
    background: white;
    color: #04102A;
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-weight: 700;
}


body .brand {
  padding: 14px 12px;
  text-align: left;
}
.brand a{
  text-decoration: none;
  font-weight: bold;
  color: #f2f2f2;
}
.brand span{
  display: block;
}


ul.topnav {
  text-align: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #04102A;
}

ul.topnav li {
  display:inline;
}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  /*font-size: 1.2em;*/
}

ul.topnav li a:hover {
    background-color: #555;
}
ul.topnav li a.selected {
    background-color: #555;
}
ul.topnav li.icon {
  display: none;
}
