@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

/*en-tête de la page*/
#header-page {
    background: linear-gradient(to bottom, white, #f4b395 50%, #db4a1d 75%, orange 100%);
    font-family: serif;
}
header h1{
    margin-top: -;
    margin-top: 0px;
    padding-top: 60px;
    text-align: center;
    color: white;
    font-family: "Roboto Slab", Roboto, serif;
}


/*Pied de page*/
footer{
    background-color: #454545;
    text-align: center;
}
#logo{
    height: 60px;
}

/*Barre de navigation*/
header nav{
    background-color: #454545;
}
#menuList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #454545;

}

header li {
  float: left;
  font-family: sans-serif;
  font-weight: bold;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*change color button menu*/
.active, .li:hover {
    background-color: white;
}
.active a{
    color: #db4a1d;
}

/*Description texte*/
header h2{
    margin-bottom: 0px;
}

header p{
    margin-top: -;
    margin-top: 0px;
    font-family: "Montserrat";
    font-style: italic;
    text-align: right;
    color: grey;
}
header p:before
{
    content:' ';
    display:block;
    border-bottom:1px solid #ccc;
}
section h2{
    font-family: "Roboto Slab", Roboto, serif;
}

/*Fiche signalétique*/
aside p{
    font-family: "Montserrat";
}
aside div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-right: 0px;
}
aside{
    float: left;
    margin: 0 1.5%;
}
aside h3{
    padding-left: 10px;
    padding-bottom: 5px;
    color: white;
    background-color: #db4a1d;
    font-family: "Roboto Slab", Roboto, serif;
}
aside ul{
    padding-bottom: 3px;
    padding-left: 20px;
}
/*Application global*/
article p{
    font-family: "Montserrat";
}
.linktext{
    color: #db4a1d;
    text-decoration: none;
}

li{
    font-family: "Montserrat";
  list-style-type: none;
}

.description{
    width: 83%;
}

section{
    margin-left: 30px;
}


/*Responsive*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

/*Menu*/

@media (min-width: 415px) {
    #menuList{
        padding-left: 30px;
    }
     .hamburger {
         display: none;
    }
}

@media (max-width: 415px){
    li {
        width: 100%;
        text-align: center;
    }
}

/*@media (min-width: 768px){
    #header-page {
        margin-left: 200px;
    }
}*/
