#game  {
    margin: auto;
    text-align: center;
}



#Git{
    color: white;
}

#Instructionsleft{
    position:absolute;
    left: 10%;
    top: 20%;
    color:white;
    text-align: right;

}

#Instructionsright{
    position:absolute;
    right: 5%;
    top: 20%;
    color:white;
    text-align: left;
}

footer{
    font-family: '8bit16', Fallback, sans-serif;
}
