
<div>
    <audio autoplay>
        <source src="/ressources/sound/bonus.mp3" type="audio/mpeg">
         Your browser does not support the audio element.
    </audio>
<div id="game">
    <canvas id="canvas"></canvas>
</div>



<div id="Instructionsleft">

    <h2>Player 1</h2>

    <p>W, A, S, D - Move</p>
    <img src="ressources/images/keys/wasd.svg" width="55%" height="55%">


    <p>Shift - Plant the bomb</p>
    <img src="ressources/images/keys/shift.svg" width="40%" height="1%">


    <p>Escape - Pause the game</p>
    <img src="ressources/images/keys/esc.svg" width="19%" height="19%">

</div>

<div id="Instructionsright">

    <h2>Player 2</h2>


    <p>Arrow Keys - Move</p>
    <img src="ressources/images/keys/move.svg" width="41%" height="41%">


    <p>Spacebar - Plant the bomb</p>
    <img src="ressources/images/keys/spacebar.svg" width="60%" height="48px">


    <p>Escape - Pause the game</p>
    <img src="ressources/images/keys/esc.svg" width="14%" height="14%">

</div>


    </div>
