<div>
    <h3>But du jeu</h3>

    <p>Boom est un jeu de stratégie dans lequel il faut exploser ses adversaires ! Pour se faire, le joueur dispose d'un arsenal de bombes, de bonus et d'atouts qu'il devra utiliser intelligemment et au bon moment. Le joueur évolue dans un labyrinthe constitué de blocs de pierre : certains blocs sont cassables, d'autres non. Les bombes permettent donc de casser les blocs cassables, mais n'ont aucun effet sur les blocs de pierre incassables.</p>


    <img id="introHomeImg" src="ressources\images\intro.png" class="centerImage">


    <h3>Persos</h3>

    <p>Plusieurs personnages sont disponibles. Ils ont les mêmes compétences, seul leur aspect visuel change.</p>


    <h3>Règles du jeu</h3>

    <p>Chaque joueur doit exploser son adversaire, il peut casser les blocs de pierre cassables placés sur la carte pour avancer. Lorsqu'un bloc est cassé, il peut contenir un bonus augmentant la puissance du joueur. Lorsque le joueur place une bombe, il doit faire attention à ne pas se faire coincer par celle-ci. Au contact du rayon d'explosion d'une bombe, le joueur touché meurt instantanément. Dans le mode multijoueur, chaque joueur dispose de 3 vies. </p>
</div>
